<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Club Detail Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <link rel="stylesheet" href="../css/style_upperbar.css">
    <link rel="stylesheet" href="../css/style_clubdetail.css">
    <link rel="stylesheet" href="../css/style_button.css">
    <script src="../js/323jump_function.js"></script>
    <script src="../js/club_detail.js"></script>
    <script src="../js/323js.cookie.js"></script>

    <div class="topnav" style="text-align:center;">
        <a onclick="gohome()">Home</a>
        <a onclick="goabout()">About</a>
        <input type="text" class="search_bar" style="font-size:15px;border:none;border-bottom:2px solid beige;background:transparent;color: white;" name="search_word" id="search_word" size="35" placeholder="Search more clubs...">
        <input type="image" src = "../img/search.png" class="search-img" onclick="gosearchresult()"/>
        <span id="login_icon" onclick="gologin()" class="glyphicon glyphicon-log-in user-icon" style="font-size: 43px;border-radius: 50%;"></span>
        <span id="logout_icon" onclick="gologout()" class="glyphicon glyphicon-log-out user-icon" style="font-size: 43px;border-radius: 50%;"></span>
        <input id="login_img" onclick="goprofile()" type="image" class="user-icon user-icon1"  src="../img/wolfie.png" />
        <input id="logout_img" type="image" class="user-icon user-icon1"  src="../img/profile.png" />
    </div>
</head>

<body>
    <div class="clubtitle">
        <img id="clublogo" class="detail-img" src="../img/wolfie.png">
        <span id="clubname">clubname</span>    
        <img id="favbtn" class="favbtn" onclick="favoriteList()" src="../img/star-empty.png">
    </div>
    <div class="description" >
        <span id="description">The mission of Alpha Eta Mu Beta is: 
                a. To encourage participation 
               in those activities that may be beneficial to the profession of 
               Biomedical Engineering/Bioengineering. 
                b. To further unify the 
               student body of the departments of Biomedical Engineering and 
               Bioengineering in presenting its needs and ideals to the faculty. 
                c. To create a closer student-faculty relationship by periodically bringing together the thoughts and needs of both. 
               
                d. To assist and cooperate with all organizations and persons working 
               for the interests of Biomedical Engineering and Bioengineering. 
                e. 
               To benefit its members by the association and experience that can come 
               from bringing together a group with similar interests, objectives and 
               abilities. 
                f. To promote the professional development and welfare of its members.</span>
    </div>
    <div class="description" id="contact">
        <p>Contact:  <button onclick=sendEmail() style="margin-left:3vw;" class="kwbtn kwbtn2" id="send-email-btn">Send Email</button></p>
        <span id="contactinfo"> 100 Nichols Rd   Stony Brook,  NY 11790  United States  Contact Email E:  stonybrookhealthscience@gmail.com </span>
    </div>
    <div class="description" id="event">
        <p>Upcoming Event:</p>
        <span id="eventinfo"> Harriman 104, 15:00 General Body Meeting</span>
    </div>

    <script>
        console.log($.cookie('clubname'));
        var username = $.cookie('username');
        if(username==""||username==undefined){
            document.getElementById("logout_icon").style.display = "none";
            document.getElementById("login_img").style.display = "none";
            document.getElementById("send-email-btn").style.display = "none";
        }else{            
            document.getElementById("login_icon").style.display = "none";
            document.getElementById("logout_img").style.display = "none";
        }
        showdetail();
    </script>
</body>
</html>