<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Search Result Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <link rel="stylesheet" href="../css/style_upperbar.css">
    <script src="../js/323jump_function.js"></script>
    <link rel="stylesheet" href="../css/style_searchresult.css">
    <script src="../js/search.js"></script>
    <script src="../js/323js.cookie.js"></script>

    <div class="topnav" style="text-align:center;">
        <a onclick="gohome()">Home</a>
        <a onclick="goabout()">About</a>
        <input type="text" class="search_bar" style="font-size:15px;border:none;border-bottom:2px solid beige;background:transparent;color: white;" name="search_word" id="search_word" size="35" placeholder="Search more clubs...">
        <input type="image" src = "../img/search.png" class="search-img" onclick="gosearchresult()"/>
        <span id="login_icon" onclick="gologin()" class="glyphicon glyphicon-log-in user-icon" style="font-size: 43px;border-radius: 50%;"></span>
        <span id="logout_icon" onclick="gologout()" class="glyphicon glyphicon-log-out user-icon" style="font-size: 43px;border-radius: 50%;"></span>
        <input id="login_img" onclick="goprofile()" type="image" class="user-icon user-icon1"  src="../img/wolfie.png" />
        <input id="logout_img" type="image" class="user-icon user-icon1"  src="../img/profile.png" />
    </div>
</head>


<body>
    <div style="display:inline">
        <div class="result-info">
            <span id="resultof">Result of </span>
            <span id="resultword" style="color:brown">xxxxx </span>
            <span >:</span>
        </div>
        <div id="search-type" style="display: flow-root;">
            <select class="category" id="category" name="category" onchange = "resultPage(1);">
                <option value=" ">Category</option>
                <option value="Academic/Honor Society">Academic/Honor Society</option>
                <option value="Cultural">Cultural</option>
                <option value="Fraternities/Sororities">Fraternities/Sororities</option>
                <option value="Media Organizations">Media Organizations</option>
                <option value="Performance Organizations">Performance Organizations</option>
                <option value="Activism/ Advocacy">Activism/Advocacy</option>
                <option value="Graduate Organization">Graduate Organization</option>
                <option value="Religious Spritual">Religious Spritual</option>
                <option value="Leisure Activities">Leisure Activities</option>
                <option value="Community Awareness/Service">Community Awareness/Service</option>
                <option value="Sport Clubs">Sport Clubs</option>
            </select>
        </div>
    </div>
    <div id="result">
        <table class="resultTable" id="resultTable">
            <tr>
                <td style="width: 13vw">
                    <img src="../img/wolfie.png">
                </td>
                <td>
                    <h1>clubname</h1>
                    <span>descriptiondescriptiondescri ptiondescriptiondescriptio ndescriptiondescriptiondescr iptiondescriptiondescriptiondescript iondescriptiondescriptiondescript iondescriptiondescription descriptiondes criptiondescriptiondescriptiondescriptiondescriptiondesc riptiondescriptiondescription</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td style="width: 13vw">
                    <img src="../img/wolfie.png">
                </td>
                <td>
                    <h1>clubname</h1>
                    <span>descriptiondescriptiondescri ptiondescriptiondescriptio ndescriptiondescriptiondescr iptiondescriptiondescriptiondescript iondescriptiondescriptiondescript iondescriptiondescription descriptiondes criptiondescriptiondescriptiondescriptiondescriptiondesc riptiondescriptiondescription</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
        </table>
        <div style="margin-left:50px;float: left;height:100%; font-size:30px; display: none;" id="resultEmpty">
            <span>No Result Found...</span>
        </div>
        <div class="pageTurn" style="text-align: center; font-size: 15px" id="divpage">
            <ul class="pagination" id="searchpageturn">
                <li>1</li>
                <li>2</li>
            </ul>
        </div>
    </div>

    <script>
        var username = $.cookie('username');
        if(username==""||username==undefined){
            document.getElementById("logout_icon").style.display = "none";
            document.getElementById("login_img").style.display = "none";
        }else{            
            document.getElementById("login_icon").style.display = "none";
            document.getElementById("logout_img").style.display = "none";
        }
        showResult();
    </script>
</body>
</html>