body{
    margin: 0px;
    height: 100%;
    background-image: url("../img/323bg.png");
    background-size: cover;
}

.contact-title {
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}

.my-container-contact{
    width:100%;
    min-height:100vh;
    display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding-top:15px;
    padding-bottom: 40px;
  }

  .my-wrap-contact {
    width:1000px;
    overflow:hidden;
    border-style: solid;
    border-color:rgb(202, 28, 28);
    border-radius:10px;
    padding:30px ;
    background: white;
    border-radius: 5px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow:0 5px 10px 0 rgba(0,0,0,.1);-moz-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);-o-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);-ms-box-shadow:0 5px 10px 0 rgba(0,0,0,.1)
  }

  .my-wrap-contact-input{
    width:100%;
    position:relative;
    border-bottom:2px solid #adadad;
    margin-bottom:37px;
  }

  .my-contact-input{
    border-style:none;
    width:100%;
  }

  .my-container-btn{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-top:13px;
    opacity: 1;
    z-index:30
  }

.contact-form-container{
    width:100%;
    min-height:100vh;
    justify-content:center;
    align-items:center;
}

.email-content {
    height: 200px;
    overflow: auto;
    vertical-align: top;
}